{{#if backPath}}
<div class="post">
	<a href="{{backPath}}"><img src="/img/back-thumb.png" alt="back icon"></a>
	<span class="title">back</span>
	<div class="panel">
		<span>{{backItemCount}}</span>
		<span><a href="{{backPath}}"><img src="/img/link-symbol.png" alt="link"></a></span>
	</div>
</div>
{{/if}}
{{#each memes}}
<div class="post">
	{{#if isDirectory}}
	<a href="/archive{{../pathPrefix}}/{{filename}}"><img src="/img/folder-thumb.png" alt="folder icon"></a>
	{{else}}
		{{#switch fileType}}
			{{#case 'image'}}
	<a href="/meme{{../pathPrefix}}/{{filename}}"><img src="/meme{{../pathPrefix}}/{{filename}}" alt="meme preview"></a>
			{{/case}}
			{{#case 'video'}}
	<video src="/meme{{../pathPrefix}}/{{filename}}" controls>meme preview</video>
			{{/case}}
			{{#case 'binary'}}
	<a href="/meme{{../pathPrefix}}/{{filename}}"><img src="/img/file-thumb.png" alt="file icon"></a>
			{{/case}}
		{{/switch}}
	{{/if}}
	<span class="title">{{filename}}</span>
	<div class="panel">
		{{#if isDirectory}}
		<span>{{itemCount}}</span>
		<span><a href="/archive{{../pathPrefix}}/{{filename}}"><img src="/img/link-symbol.png" alt="link"></a></span>
		{{else}}
		<span>{{size}}</span>
		<span><a href="/meme{{../pathPrefix}}/{{filename}}"><img src="/img/link-symbol.png" alt="link"></a></span>
		{{/if}}
	</div>
</div>
{{/each}}
